/*----------------
      RESET
-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
     COMMONS
-----------------*/

.container {
    max-width: 1450px;
    margin: auto;
}

.container-m {
    max-width: 1080px;
    margin: auto;
}

.container-s {
    max-width: 800px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*----------------
      TYPO
-----------------*/

body{
    font-family: 'Roboto Slab', serif;
 }

/*----------------
      HEADER
-----------------*/

.header-top-left, .header-top-right{
    float: left;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.main-nav ul li, .inizia ul li{
    display: inline-block;
    padding-left: 30px;
    vertical-align: middle;
    line-height: 20px;
}

.logo, .main-nav, .inizia{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.inizia{
    float: right;
}

a{
    text-decoration: none;
    color: black;
}

/*----------------
      BUTTON
-----------------*/

.btn{
    background-color: blue;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.delete{
    margin-top: 20px;
}

.btn-contact{
    float: right;
    background-color: blue;
    color: white;
    padding: 5px 15px;
}

.btn-partner{
    float: left;
    color: black;
    margin-top: 20px;
    padding: 5px;
}

.btn-footer{
    float: right;
    
}

/*----------------
      IMG
-----------------*/

.logo-2{
    width: 100%;
}

.img-partner{
    width: 90%;
}

.img-1{
    width: 100%;
}

.img-2{
    width: 100%;
}
.img-3{
    width: 100%;
}

.designit-logo{
    width: 20%;
    float: left;
}

/*----------------
  MAIN-SECTION-H1
-----------------*/

section{
    padding: 45px 0;
}

.sec-2{
    margin-top: 5px;
}
.sec-h1{
    background-color: rgb(158, 229, 253);
    max-height: 600px;
    margin: auto;
}

.col-text, .col-img{
    float: left;
}

.col-text{
    width: 40%;
    padding: 40px 0;
}

.col-img{
    width: 60%;
    padding: 40px 0;
}

.col-img-right{
    text-align: right;
}

h1{
    font-size: 65px;
}

h2{
    margin-bottom: 30px;
}

.text-business{
    column-gap: rgb(194, 69, 69);
    padding: 100px 0;
}

.h2-500{
    font-size: 30px;
}

.col-1{
    float: left;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border: 1px solid;
    
}

.col-2{
    float: left;
    width: calc(100% / 3 - 20px);
    text-align: center;
    padding: 10px;
}

.text-col{
    text-align: center;
    border-bottom: 1px solid;
    
}

.morten{
    padding-top: 44px;
}

.text-designit{
    text-align: left;
    padding: 50px;
    font-size: small;
}

.col-middle{
    margin: 0 30px;
}

.mounth{
    color: grey;
    font-size: 12px;
}

.list-col li{
    list-style-type: none; 
    margin: 20px 5px;
    text-align: left;
}

hr{
    width: 30%;
    margin: 20px 0;
}

.price{
    text-align: left;
    margin-top: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.col-under{
    width: 100%;
    border: 1px solid;
    text-align: left;
}

.space-left, .space-centre, .space-right{
    height: 25vw;
 }

.space-left, .space-right{
   width: 25vw;
   float: left;
}

.space-center{
    width: calc(100% - 50vw);
    background-color: lightgray;
    float: left;
    padding: 40px;
    overflow-y: auto;
    
}

.square img{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.square{
   width: 50%;
   height: 12.5vw;
   position: relative;
   float: left;
 }

.designit{
     background-color: lightgreen;
     filter: invert(100%);
 }

.arizona{
     background-color: brown;
     filter: invert(100%);
 }

.florida{
     background-color: blue;
     filter: invert(100%);
 }

.topps{
    background-color: red;
    filter: invert(100%);
}

.topps{
    background-color: red;
    filter: invert(100%);
}

.bicy{
    background-color: rgb(177, 52, 52);
    filter: invert(100%);
}

.hearts{
    background-color: red;
    filter: invert(100%);
}

.planet{
    background-color: rgb(158, 229, 253);
    filter: invert(100%);
}

.channel{
    background-color: yellow;
    filter: invert(100%);
}

