/*----------------
      RESET
-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
     COMMONS
-----------------*/

.container {
    max-width: 1450px;
    margin: auto;
}

.container-m {
    max-width: 1080px;
    margin: auto;
}

.container-s {
    max-width: 800px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*----------------
      TYPO
-----------------*/

body{
    font-family: 'Roboto Slab', serif;
 }

/*----------------
      HEADER
-----------------*/

.header-top-left, .header-top-right{
    float: left;
    width: 50%;
}

.main-nav ul li, .inizia ul li{
    display: inline-block;
    padding-left: 30px;
    vertical-align: middle;
    line-height: 20px;
}

.logo, .main-nav, .inizia{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.inizia{
    float: right;
}

a{
    text-decoration: none;
    color: black;
}

/*----------------
      BUTTON
-----------------*/

.btn{
    background-color: blue;
    color: white;
    padding: 5px 15px;
}

.delete{
    margin-top: 40px;
    margin-bottom: 40px;
}

/*----------------
      IMG
-----------------*/

.logo-2{
    width: 100%;
}

/*----------------
  MAIN-SECTION-H1
-----------------*/

section{
    padding: 90px 0;
}
.sec-h1{
    background-color: rgb(115, 198, 226);
    max-height: 600px;
}

.col-text, .col-img{
    float: left;
}

.col-text{
    width: 40%;
    padding: 40px 0;
}

.col-img{
    width: 60%;
    padding: 40px 0;
}

.col-img-right{
    text-align: right;
}

h1{
    font-size: 65px;
}

h2{
    margin-bottom: 30px;
}

.col-1{
    float: left;
    width: calc(100% / 3);
    text-align: center;
    border: 1px solid;
    
}







